html,
body,
.app {
  height: 100vh;
  background: #eee;
  padding: 1em;
}

.ui.grid {
  padding: 1rem 0 !important;
}

.ui.grid > .column:not(.row) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ui.header .icon:only-child {
  display: inline-block;
  padding: 0 !important;
  margin-right: 0.75rem;
}

/* Messages.js */
.messages {
  overflow-y: scroll;
}

.message__image {
  padding: 1em;
}

i.circular.icon {
  background-color: #2bac76 !important;
  max-height: 10px !important;
  max-width: 10px !important;
}

.ui.segment {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  height: 1rem;
  margin: 0 1rem;
  border: none !important;
}

.ui.menu .item {
  padding: 5px 15px !important;
}

.ui.list > .item:hover {
  cursor: pointer;
  background: green !important;
}
.ui.list > .item.active {
  background: #1164a3 !important;
}

.ui.comments .comment {
  margin: 0.5rem 0 0 1rem !important;
}

/* buttons on Form input */
.ui.icon.button,
.ui.icon.buttons .button {
  background: transparent;
}

.input_div {
  border: 1px solid gray;
  min-height: 75px;
  border-radius: inherit;
}

.ui.input > input:focus {
  border: none;
}
