html,
body,
.app {
  height: 100vh;
  background: #eee;
  padding: 1em;
}

.ui.grid {
  padding: 1rem 0 !important;
}

.ui.grid > .column:not(.row) {
  padding-top: 0 !important;
}

/* Messages.js */
.messages {
  overflow-y: scroll;
}

/* MessageForm.js */
.message__form {
  position: fixed !important;
  bottom: 1em;
  /* margin-left: 320px !important; */
  left: 0;
  right: 1em;
  z-index: 200;
}

.message__image {
  padding: 1em;
}

i.circular.icon {
  background-color: #2bac76 !important;
  color: #2bac76 !important;
  border-radius: 12px !important;
  max-height: 12px !important;
  max-width: 12px !important;
  padding: 0px !important;
}

.ui.segment {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  height: 1rem;
  margin: 0 1rem;
  border: none !important;
}

.ui.menu .item {
  padding: 5px 15px !important;
}

.ui.list > .item:hover {
  cursor: pointer;
  background: green !important;
}
.ui.list > .item.active {
  background: #1164a3 !important;
}

.ui.comments .comment {
  margin: 0.5rem 0 0 1rem !important;
}
